// Specific CSS for your home-page

//CSS for the form's ingredient
//Change to a more appropriete place
.form-check{
    input + label{
        background: aqua;
        cursor: pointer;
        &:hover{
            border: 1px solid red;
        }
        
    }
    input{
        visibility: hidden;
        // &:checked + label {
        //     background: red;
        // }
    }
}
.red{
    color: red;
}