.comments{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    .title-line{
        display: flex;
        justify-content: stretch;
        align-items: center;
        margin: 20px 0;
        .line{
            // flex-shrink: 1;
            flex-grow: 1;
            width: 10px;
            height: 1px;
            border-bottom: 3px solid rgba(7, 30, 34, .9);
        }
        h2{
            flex-grow: 1;
            text-align: center;
        }
    }

    .list-comments{
        // width: 60%;
        // padding: 10px;
        // height: 1000px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        margin-right: 10px;
        a .restaurant{
            background-color: white;
            border-radius: 25px;
            box-shadow: 0 0 10px rgba(7, 30, 34,  0.5);
            padding: 5px 10px;
            width: fit-content;
            margin: 0 auto;
            position: relative;
            top: 18px;
            
        }
        a .commentcardhome{
            &:hover{
                box-shadow: 0 0 10px rgba(193, 18, 31, 1);
            }
        }
        
        
    }
}

// ------- For responsive -------

@media only screen and (max-width: 1500px) {
    .comments{
        width: 60%;

    }
}

@media only screen and (max-width: 1300px) {
    .comments{
        width: 70%;

    }
}

@media only screen and (max-width: 1000px) {
    .comments{
        width: 80%;

    }
}

@media only screen and (max-width: 800px) {
    .comments{
        width: 90%;

    }
}

@media only screen and (max-width: 500px) {
    .comments{
        width: 100%;

    }
}