<div class="user-restaurant">

    <div class="title-line">
        <div class="line">
        </div>
        <h2>All your restaurants</h2>
        <div class="line">
        </div>
    </div> 

    <div class="list-restaurants">
        <% @restaurants.each do |restaurant| %>
            <%= link_to restaurant_path(restaurant), title: "Click to show the restaurant" do %>
                <%= render "components/cardrestaurant", restaurant: restaurant %>
            <% end %>
        <% end %>
    </div>  
</div>
