<div class="comments">

    <div class="title-line">
        <div class="line">
        </div>
        <h2>All your comments</h2>
        <div class="line">
        </div>
    </div> 

    <div class="list-comments">
        <% @comments.each do |comment| %>
            <%= link_to restaurant_path(comment.restaurant), title: "Click to show the restaurant" do %>
                <div class="restaurant">
                    <%= comment.restaurant.name %>
                </div>
                <%= render "components/commentcardhome", comment: comment %>
            <% end %>
        <% end %>
    </div>

</div>
