<h1>All favorites from <%= current_user.nickname %></h1>

<% @favorites.each do |favorite| %>
    <%= link_to restaurant_path(favorite.restaurant) do %>
        <p><%= favorite.restaurant.name %></p>
    <% end %>
<% end %>