.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}
.navbar-lewagon .navbar-brand h1{
  font-size: 36px;
  span{
    color: $mred;
  }
}

.navbar-lewagon .navbar-brand{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 30%;
}

.collapse{
  width: 30%;
  // margin-left: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}

.search{
  // width: 60%;
}