.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 2px solid rgba(7, 30, 34, .1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}
.navbar-lewagon .navbar-brand h1{
  font-size: 36px;
  span{
    color: $mred;
  }
}

.navbar-lewagon .navbar-brand a{
  margin: 0;
}

.navbar-lewagon .navbar-brand{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 30%;
}

.collapse{
  width: 30%;
  // margin-left: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}

.search{
  // width: 60%;
}

@media screen and (max-width: 1000px) {
  .search{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .collapse{
    align-items: flex-start;
  }
  .navbar-lewagon{
    height: 175px;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .navbar-lewagon .navbar-brand h1{
    font-size: 3vw;
  }
}