.smallcard{
    background-color: $mwhite;
    // min-width: 200px;
    max-width: 400px;
    min-width: 250px;
    // max-width: 300px;
    // width: 50vw;
    width: clamp(250px, 10vw, 400px);
    flex-grow: 1;

    min-height: 150px;
    max-height: 300px;
    height: 50vw;


    border-radius: 50px;
    box-shadow: 0 0 10px rgba(7, 30, 34, .5); 

    margin: 10px;

    .btn-img-outside{
        height: 0px;
        width: 100%;
        display: flex;
        // visibility: hidden;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px 0px 20px;
        position: relative;
        top: 100px;

        .left, .right{
            all: unset;
            cursor: pointer;
            color: rgba(247,247,249,0.80);
            font-size: 25px;
            &:hover{
                scale: 1.1;
                color: $mwhite;
            
            }
        }
    }

    &:hover{
        .btn-img-outside{
            visibility: visible; 
            // background-color: blue; 
        }
        // .imgcard{
        //     .btn-img{
        //         visibility: visible;  
        //     }
        // }
        .dots-img{
            visibility: visible;
        } 
      }
    
    .imgcard{
        
        // background-color: red;

        border-radius: 50px;

        // width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        // width: 50vw;
        height: 60%;

        .fav{
            height: 33%;
            font-size: 25px;
            margin-right: 40px;
            i{
                color: $mblack;  
            }
            .heart{
                position: relative;
                scale: 1.1;
                left: 25px;
                i{
                color: rgba(7, 30, 34, .9);
                }   
            }
            .fheart{
                i{
                    color: rgba(247,247,249,0.50);
                }   
            }
            .redheart{
                i{
                    color: $mred;
                }   
            }
            width: 100%;
            display: flex;
            justify-content: right;
            align-items: center;
        }

        .btn-img{
            height: 33%;
            width: 100%;
            display: flex;
            visibility: hidden;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px 0px 20px;
            // color: white;

            .left, .right{
                all: unset;
                cursor: pointer;
                color: rgba(247,247,249,0.80);
                font-size: 25px;
                &:hover{
                    scale: 1.1;
                    color: $mwhite;
                
                }
            }
        }

        .spacedot{
            height: 33%;
        }
    }
    .dots-img{
        position: relative;
        bottom: 20px;
        // background-color: blue;
        visibility: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
        color: rgba(247,247,249,0.70);
        i{
            font-size: 10px;
            margin: 0 3px 0 3px;
        }
        .white{
            color: white;
        }
        .dwhite{
            color: rgba(247,247,249,0.10);
        }
    }
    .infocard{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: 5px 10px 10px 10px;
        padding: 0 5px 5px 5px;
        .cutoff-text{
            --max-lines: 1;
            // --line-heigth: 1.4;

            // max-height: calc(var(--max-lines) * 1em * var(--line-heigth));
            // line-height: var(--line-heigth);
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            visibility: visible;
            -webkit-line-clamp: var(--max-lines);
        }
        .openrate{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .open{
                color: $mgreen;
            }

            .closed{
                color: $mred;
            }
            .ratingcard{
                border-radius: 50%;
                border: 3px solid $mgreen;
                background-color: $mwhite;
                color: $mgreen;
                padding: 5px;
                font-size: 10px;
            }
        }
    }

}

// @media only screen and (max-width: 1000px) {
//     .smallcard {
//         width: 100%;
//         min-width: 100%;
//         max-width: 100%;
//         display: block;
//         margin-bottom: 20px;
//         background-color: blue;
//     }
// }